<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easymornings">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_alarmclock"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_alarmclock"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyMornings">
        <activity android:name=".Settings" />
        <activity android:name=".SetAlarm" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>